body{
  text-align: center;
  padding: 0;
  margin: 0;
}
.box{
  position: relative;
  display: inline-block;
  width: 56rem;
  height: 45rem;
  text-align: center;
  /* border: 1px solid black; */
  margin: 0;
  margin-top: 2rem;
}
.grid{
  position: absolute;
  left:0;
  display: inline-flex;
  flex-wrap: wrap;
  height: 44rem;
  width: 44rem;
  border: 0.25rem solid black;
}
.grid div{
  height:5rem;
  width:5rem;
}
.pieces{
  position: absolute;
  right:0;
  display: inline-flex;
  flex-wrap: wrap;
  height: 44rem;
  width: 7rem;
  /* border: 0.25rem solid black; */
}
.piecesBox{
  position: relative;
  height: 3.5rem;
  width:7rem;
  /* border:1px solid black; */
}
.piecesBox div{
  position: absolute;
  left: 0;
  height:3.25rem;
  width:3.25rem;
  border: 0.125rem solid black;
}
.ph1{
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  height: 3.5rem;
  width: 3.25rem;
  background-color: powderblue;
  font-size: 3.25rem;
}
.purple{
  background-color: mediumblue;
}
.white{
  background-color: white;
}
.bb{
  border: 0.25rem solid black;
}
.yy{
  border: 0.25rem solid yellow;
}
#test{
  width:8rem;
  height:3rem;
  font-size:1.25rem
}
.bpawn{
  background-image:url('../images/bpawn.png');
  background-size: cover;
}
.brook{
  background-image:url('../images/brook.png');
  background-size: cover;
}
.bknight{
  background-image:url('../images/bknight.png');
  background-size: cover;
}
.bbishop{
  background-image:url('../images/bbishop.png');
  background-size: cover;
}
.bqueen{
  background-image:url('../images/bqueen.png');
  background-size: cover;
}
.bking{
  background-image:url('../images/bking.png');
  background-size: cover;
}
.wpawn{
  background-image:url('../images/wpawn.png');
  background-size: cover;
}
.wrook{
  background-image:url('../images/wrook.png');
  background-size: cover;
}
.wknight{
  background-image:url('../images/wknight.png');
  background-size: cover;
}
.wbishop{
  background-image:url('../images/wbishop.png');
  background-size: cover;
}
.wqueen{
  background-image:url('../images/wqueen.png');
  background-size: cover;
}
.wking{
  background-image:url('../images/wking.png');
  background-size: cover;
}
.green{
  background-color: lightgreen;
}
