.grid{
  border: 2px solid;
  display: inline-flex;
  flex-wrap : wrap;
  height: 23.25rem;
  width:27.125rem;
}
.grid div {
  height:3.75rem;
  width:3.75rem;
}
.player-one{
  background-color: red;
  border-radius: 0.5rem;
}
.player-two{
  background-color: blue;
  border-radius: 0.5rem;
}
body{
  text-align: center;
}
.n{
  border:none;
}
.m{
  border:1px solid;
}
.p{
  padding: 2rem;
}
#pb{
  height:2rem;
  width:8rem;
  font-size: 1.25rem;
}
.rdiv{
  height:3rem;
}
