body{
  margin: 0;
  text-align: center;
}
#d1{
  display:flex;
  text-align: center;
  background-color: yellow;
  margin: 0;
}
.t{
  font-family: sans-serif;
  margin: 0;
  display:flex;
}
#d11{
  display: flex;
  margin:  2rem 0rem 2rem 4rem;
}
#d12{
  display: flex;
  margin: 2rem 0rem 2rem 3rem;
  align-items: center;
}
#img1{
  width:18rem;
  height:12rem;
}
.grid{
  padding: 3rem;
  width:36.8rem;
  display: inline-flex;
  flex-flow: wrap;
}
.grid div{
  text-align:center;
  width:12rem;
  height:3rem;
}
.b{
  border-collapse: collapse;
  margin: 1px;
  border : 1px solid black;
}
