body{
  padding:0;
  border:0;
  margin:0;
}
h1{
  font-size: 2.5rem;
}
.box{
  text-align: center;
  margin:0;
  padding:0;
  border:0;
  width:49%;
  display: inline-block;
}
.buttonDiv{
  margin:0;
  display: inline-block;
  width: 100%;
  text-align: center;
  height:6rem;
}
#convertButton{
  width:40%;
  height:5rem;
  font-size: 2.5rem;
}
#clearButton{
  width:40%;
  height:5rem;
  font-size: 2.5rem;
}
input[type="text"]{
  width:70%;
  height:6rem;
  border:1px solid black;
  font-size: 2.5rem;
  text-align: center;
}
#warning{
  font-size: 1.5rem;
}
