body{
  padding:0;
  border:0;
  margin:0;
  text-align: center;
}
h1{
  font-size: 2rem;
}
.box{
  text-align: center;
  margin:0 1rem;
  padding:1rem;
  padding-top: 0;
  border:0;
  width:40%;
  display: inline-block;
  border: 2px solid black;
}
.buttonDiv{
  margin:0;
  margin-bottom: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  height:5rem;
}
#convertButton{
  width:40%;
  height:4rem;
  font-size: 2.5rem;
}
#clearButton{
  width:40%;
  height:4rem;
  font-size: 2.5rem;
}
input[type="text"]{
  width:90%;
  height:5rem;
  border:1px solid black;
  font-size: 2rem;
  text-align: center;
  font-family: monospace;
}
#warning{
  font-size: 2.5rem;
}
#heading{
  margin-bottom: 0;
}
.caption{
  padding-bottom: 0.25rem;
  padding-top: 2rem;
  margin:0;
}
