body{
  text-align: center;
}
.grid{
  display: inline-flex;
  flex-wrap: wrap;
  width:30rem;
  height:30rem;
  border:1px solid;
}
.grid div{
  width:1.5rem;
  height:1.5rem;
}
.snake{
  background-color: blue;
}
.apple{
  background-color: purple;
}
.keypad{
  align-content: space-around;
  justify-content: space-around;
  margin:0.25rem;
  display: inline-flex;
  flex-wrap: wrap;
  width:18.6rem;
  height:18.6rem;
}
.keypad div{
  width: 6rem;
  height: 6rem;
}
#up{
  background-image: url('../images/up.svg');
  background-size: cover;
  border: 0.1rem solid black;
}
#down{
  background-image: url('../images/down.svg');
  background-size: cover;
  border: 0.1rem solid black;
}
#left{
  background-image: url('../images/left.svg');
  background-size: cover;
  border: 0.1rem solid black;
}
#right{
  background-image: url('../images/right.svg');
  background-size: cover;
  border: 0.1rem solid black;
}
.start{
  height:2rem;
  width:15rem;
  font-size: 1.25rem;
  border: 1px black solid;
}
.score{
  text-align: center;
  height:2rem;
  margin:0.5rem;
  font-size:1.25rem;
}
